* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff9393;
}

.carrousel-div {
    display: flex;
    flex-direction: column;

    .card {
        background-color: #fff;
        padding: 20px 20px 50px 20px;
        position: sticky;
        top: 0;

        img {
            height: 100%;
            object-fit: cover;
            height: 270px;
        }
    }
}